@model IEnumerable<Department>

<h1>All Departments</h1>
<br />
<br />
<form>
    <div class="container m-4 justify-content-center d-flex">
        <div class="col-6  m-2">
            <input id="SearchInput" placeholder="Search By Name" name="SearchInput" class="form-control" />
        </div>
        <div class="col-6 m-2">
            <input type="submit" class="btn btn-success" value="Search" />
        </div>
    </div>
</form>

<a asp-action="Create" asp-controller="Department" class="btn btn-primary">Create Department</a>

<br />
<br />

@if (Model != null && Model.Any())
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Date Of Creation</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var dept in Model)
            {
                <tr>
                    <td>@dept.Code</td>
                    <td>@dept.Name</td>
                    <td>@dept.CraeteAt</td>

                    <partial name="_ButtonPartialView"
                             model="@(new ButtonPartialViewModel { Id = dept.Id, Controller = "Department" })" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-info">
        There are no Departments :(
    </div>
}
